#title{
    color: rgb(121, 189, 248);
}

.photo_main{
    border: 2px solid white;
    border-radius: 50%;
    width: 400px;
}
.body{

    background-color: black;
   
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/045/251/703/large/g-redon-the-storyteller-post.jpg?1642281176);
    background-size: 100%;
}


.subtitle{
    color:rgb(84, 84, 207);
    background-color: aliceblue;
    width: 380px;
    font-size: 35px;
    border: 2px solid rgb(135, 52, 243);
    border-radius: 5px;
    text-align: center;
}

.post_title{

    color: black ;
    font-size: 25px;
    font-style: comic;
    background-color: none;
    padding: 15px;
}

.post{
    font-family: Arial;
    font-size: 20px;
    background-color: aliceblue;
    padding: 10px;
    border: 2px solid rgb(135, 52, 243);
    border-radius: 5px;
}

.synopsis{
    font-size: 15px;
    font-style: italic;
    color: black;
    background-color: rgb(121, 189, 248);
    border: 2px dashed rgb(135, 52, 243);
    size: 30px;
}
#photo_article{
    
    width: 100px;
}

footer{
    text-align: center;

}